:root {
    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}

*{
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6 rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    
}

.grid__column-2 {
    padding-left: 4px;
    padding-right: 4px;
    width: 16.667%;
}

.grid__column-2-4 {
    padding-left: 4px;
    padding-right: 4px;
    width: 20%;
}

.grid__column-4 {
    padding-left: 4px;
    padding-right: 4px;
    width: 33.334%;
}

.grid__column-8 {
    padding-left: 4px;
    padding-right: 4px;
    width: 66.667%;
}

.grid__column-6 {
    padding-left: 4px;
    padding-right: 4px;
    width: 50%;
}

.grid__column-10 {
    padding-left: 4px;
    padding-right: 4px;
    width: 83.334%;
}

.grid__column-12 {
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}


/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* display: flex; */
    display: none;
    
}

.modal.open{
    display: flex;
}
.modal-login {
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4;

}

.modal__body {
    margin: auto;
    background-color: var(--white-color);
    z-index: 6;
    position: relative;
    border-radius: 5px;
}


.authecation-form {
    padding: 0 30px;
    width: 400px;
    min-height: 500px;  
}

.authecation-form-login {
    min-height: 420px; 
}

.authecation-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;

}

.authecation-form__register {
    font-size: 1.8rem;
    font-weight: 400;
    

}

.authecation-form__swith-btn {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;

}

.authecation-form__info {
    

}

.authecation-form__group {

}

.authecation-form__input {
    height:40px;
    width: 100%;
    margin-top: 16px;
    padding: 0 14px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: #fff;

}

.authecation-form__input:focus {
    border-color: #777;

}

.authecation-form__agree {
    padding: 16px 30px;



}

.authecation-form__policy-text {
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.8rem ;

}

.authecation-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;

}

.authecation-form__controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.authecation-form__sicial {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;


}

.btn.btn--with-icon {
    /* text-align: center; */
    background-color: #1877f2;
    color: var(--white-color);
    border-radius: 2px;
    
    
    
}

.authecation-form__sicial-title {
    margin: 0 12px;
}

.btn {
    min-width: 142px;
    min-height: 34px;
    text-decoration: none;
    border: none;
    font-size: 1.4rem;
    /* outline: none; */
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 2px;
}

/* Login form */
.authecation-form__login {
    padding: 16px 10px;
    display: flex;
    justify-content:space-between;

}
.authecation-form__login-text {
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.8rem ;

}
.authecation-form__login-link {
    text-decoration: none;
    color: blue;
    cursor: pointer;

}

.authecation-form__login-or {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.8rem ;
    color: #777;
}