.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6332,#f53f2d );

}

.navbar {
    display: flex;
    justify-content: space-between;
    
}
.navbar__left, .navbar__right {
    list-style: none;
    padding-left: 0px;
    margin-top:8px ;

}

/* QR code header */
.navbar__qrcode {
    background-color: var(--white-color);
    width: 180px;
    position: absolute;
    left:0;
    top: 150%;
    padding: 8px;
    border-radius: 2px;
    display:none;
    animation:fadeIn ease-in 0.8s;
}

.navbar__qrcode::before {
    position: absolute;
    width: 100%;
    height:30px;
    content:"";
    display:block;
    left: 0px;
    top:-16px;

}

.navbar__qrcode-img {
    width: 100%;
}
.navbar__qrcode--app {
    display: flex;
    justify-content: space-between;
}

.navbar__qrcode--download-img {
   height: 14px;
   margin-left: 12px;
   margin-right: 10px;
}
/* End QR code header */

.navbar__left--item, .navbar__right--item {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0 8px;
    position: relative;

}

.navbar__left--item-link, .navbar__right--item-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
}

.navbar__left--item-link:hover, .navbar__right--item-link:hover {
    opacity: 0.8;
    cursor: pointer;

}

.navbar__left--item:hover, .navbar__right--item:hover {
    /* opacity: 0.8; */
    cursor: pointer;
    color:rgba(255, 255,255, 0.8)
}

.navbar__right--item--strong {
    font-weight: 400;
}

.navbar__left--item--show-qr:hover .navbar__qrcode {
    display:block;
}


.navbar__left--item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    border-left: 1px solid #FB9086;
    right:0;
    top: 0;
}

.navbar__right--item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    border-left: 1px solid #FB9086;
    right:0;
    top: 0;
}

.navbar__left--item--no-pointer {
    color: var(--white-color);
    cursor: text;
}



