.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6332,#f53f2d );

}

.navbar {
    display: flex;
    justify-content: space-between;
    
}
.navbar__left, .navbar__right {
    list-style: none;
    padding-left: 0px;
    margin-top:8px ;
    display: flex;

}

/* QR code header */
.navbar__qrcode {
    background-color: var(--white-color);
    width: 180px;
    position: absolute;
    left:0;
    top: 150%;
    padding: 8px;
    border-radius: 2px;
    display:none;
    animation:fadeIn ease-in 0.8s;
    z-index: 3;
}
 /* Vùng đệm để hover */
.navbar__qrcode::before {
    position: absolute;
    width: 100%;
    height:30px;
    content:"";
    display:block;
    left: 0px;
    top:-16px;

}

.navbar__qrcode-img {
    width: 100%;
}
.navbar__qrcode--app {
    display: flex;
    justify-content: space-between;
}

.navbar__qrcode--download-img {
   height: 14px;
   margin-left: 12px;
   margin-right: 10px;
}
/* End QR code header */

.navbar__left--item, .navbar__right--item {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0 8px;
    position: relative;

}

/* user - avatar */

.navbar__right-user {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    

}
.navbar__right-user-avarta {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #999;
    text-align: center;
    position: relative;
    top: -2px;
}
.navbar__right-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;

}

.navbar__right-user-menu {
    position: absolute;
    list-style: none;
    background-color: var(--white-color);
    top: 130%;
    right: 0px;
    z-index: 4;
    width: 180px;
    padding: 0px 0px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    will-change: opacity, transform;
    animation: navbarNotificationGrowth ease-in-out 0.3s backwards;
}

.navbar__right-user-menu-item {
    /* margin: 8px;
    height: 30px; */

}

.navbar__right-user-menu-item a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 300;
    display: block;
    padding: 10px 16px;
}

.navbar__right-user-menu-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.navbar__right-user-menu-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}


.navbar__right-user-menu-item a:hover {
    cursor: pointer;
    color: red;
    background-color: #fafafa;
    overflow: hidden;
    
}

/* Mũi tên */
.navbar__right-user-menu::after {
    position: absolute;
    content:"";
    display:block;
    right: 20px;
    top:-20px;
    border: 10px solid;
    z-index: 1;
    border-color: transparent transparent var(--white-color)  transparent;  
}

/* Vùng đệm */

.navbar__right-user-menu::before {
    position: absolute;
    width: 100%;
    height:30px;
    content:"";
    display:block;
    left: 0px;
    top:-16px;  
}

.navbar__right-user:hover .navbar__right-user-menu {
    display: block;
}

.navbar__left--item-link, .navbar__right--item-link {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 300;
    position: relative;
    
}

.navbar__left--item-link:hover, .navbar__right--item-link:hover {
    opacity: 0.8;
    cursor: pointer;

}

.navbar__left--item:hover, .navbar__right--item:hover {
    /* opacity: 0.8; */
    cursor: pointer;
    color:rgba(255, 255,255, 0.8)
}

.navbar__right--item--strong {
    font-weight: 400;
}

/* show QR code when hover */
.navbar__left--item--show-qr:hover .navbar__qrcode {
    display:block;
}


.navbar__left--item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    border-left: 1px solid #FB9086;
    right:0;
    top: 0;
}

.navbar__right--item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    border-left: 1px solid #FB9086;
    right:0;
    top: 0;
}

.navbar__left--item--no-pointer {
    color: var(--white-color);
    cursor: text;
}


/* Header notification */
.navbar__notification {
    position: absolute;
    top: 150%;
    right:0;
    width: 304px;
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    display:none;
    transform-origin: 90% top;
    will-change: opacity, transform;
    animation: navbarNotificationGrowth ease-in-out 0.3s forwards;
    animation-duration: 0.3s;
    animation-direction: normal, reverse;
    z-index: 4;

}

@keyframes navbarNotificationGrowth {
    from {
        opacity: 0;
        transform: scale(0)

    }
    to {
        opacity: 1;
        transform: scale(1)
    }
}


.navbar__notification-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: default;

}

.navbar__notification-header h3 {
    color: #999;
    font-weight: 300;
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    line-height: 40px;

}

.navbar__notification-list {
    padding-left: 0px;
    list-style: none;

}

.navbar__notification-item {
    display:flex;
}

.navbar__notification-link {
    display:flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;

}
.navbar__notification-link:hover {
    background-color:rgba(235, 221, 221, 0.2);
    cursor: pointer;
}

.navbar__notification-img {
    width: 48px;
    object-fit: contain;

}

.navbar__notification-info {
    margin-left: 12px;

}

.navbar__notification-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);

}

.navbar__notification-descriotion {
    display: block;
    font-size: 1.2rem;
    padding-top: 4px;
    line-height 1.4em;

}

.navbar__notification-footer {
    background-color:rgba(241, 231, 231, 0.2);
    display: flex;
    line-height:30px;
    
}

.navbar__notification-footer-btn {
    text-decoration: none;
    margin: auto;
    color: var(--black-color);
    padding: 8px 16px;
}

.navbar__notification-footer:hover {
    cursor: pointer;
    background-color:rgba(199, 190, 190, 0.2);
}

.navbar__right--item-show-notification:hover .navbar__notification {
    display:block;
}

.navbar__notification::before {
    position: absolute;
    width: 100%;
    height:30px;
    content:"";
    display:block;
    left: 0px;
    top:-16px;
    
    /* right:12px; */
    /* top:-30px;
    border: 20px solid;
    border-color: transparent transparent var(--white-color)  transparent; */
    
}

/* Mũi tên */
.navbar__notification::after {
    position: absolute;
    /* width: 100%; */
    /* height:30px; */
    content:"";
    display:block;
    right:12px;
    top:-30px;
    border: 20px solid;
    border-color: transparent transparent var(--white-color)  transparent;
    
}

/* language - ngôn ngữ */
.navbar__language {
    position: absolute;
    display: none;
    top: 150%;
    right:0;
    width: 150px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    transform-origin: 90% top;
    will-change: opacity, transform;
    animation: navbarNotificationGrowth ease-in-out 0.3s backwards;
    animation-direction: normal, reverse;
    z-index: 3;

}
.navbar__language-list {
    list-style: none;
    padding-left: 0px;
}


.navbar__language-item {
    padding-bottom: 8px;
}

.navbar__language-link {
    text-decoration: none;
    width: 100%;

}

.navbar__language-link :hover {
    color: red;
    cursor: pointer;

}

.navbar__language-name {
    display: block;
    margin-left: 12px;
    font-size: 1.4rem;
    color: var(--black-color);
    padding-top: 8px;
    line-height 1.4em;
}

.navbar__right--item-show-language:hover .navbar__language {
    display:block;
}

.navbar__language::after {
    position: absolute;
    /* width: 100%; */
    /* height:30px; */
    content:"";
    display:block;
    right:16px;
    top:-28px;
    border: 20px solid;
    border-color: transparent transparent var(--white-color)  transparent;
    
}

.navbar__language::before {
    position: absolute;
    width: 100%;
    height:30px;
    content:"";
    display:block;
    left: 0px;
    top:-16px;
       
}


/* Search */

.search {
    min-height: 60px;
    display: flex;
    align-items: center;
    margin-left: 8px;

}

.search--logo {
    width: 200px;
    color: var(--white-color);

}

.search--logo-link {
    text-decoration: none;
    color: transparent;
}
.search--log-img {
    width: 160px;
    color: var(--white-color);

}

.search__main {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius: 2px;
    
}

.search__main-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
    
}

.search__main-input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1.6rem;
    font-weight:300;
    border-radius: 2px;
    color: var(--text-color);
    padding: 0 16px;
    
}

/* Cart - header */
.search__cart {
    width: 140px;
    text-align: center;   
}

.search__cart-wrap {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 0px 12px;

}

.search__cart-list {
    position: absolute;
    top: 110%;
    right: 2px;
    background-color: var(--white-color);
    width: 380px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    z-index: 3;
    cursor: default;

}

/* Vùng đệm */
.search__cart-list::before {
    position: absolute;
    width: 100%;
    height: 30px;
    content:"";
    display:block;
    left: 0px;
    top: -30px;
}

/* Mũi tên  */
.search__cart-list::after {
    position: absolute;
    content: "";
    display: block;
    right: 8px;
    top:-30px;
    border-width: 20px 26px;
    border-style: solid;
    cursor: pointer;
    border-color: transparent transparent var(--white-color)  transparent;
}

.search__cart-wrap:hover .search__cart-list {
    display: block;
    
} 

.search__cart-list--no-cart {
    padding: 44px 0px;

}

.search__cart-no-cart-img {
    width: 40%;
    display: none;
    margin-left: auto;
    margin-right: auto;

}

.search__cart-list-no-cart-message {
    font-size: 1.4rem;
    text-align: center;
    color: var(--text-color);
    margin-top: 16px;
    /* padding: 16px 0; */
    display: none;
}

.search__cart-list--no-cart .search__cart-no-cart-img,
.search__cart-list--no-cart .search__cart-list-no-cart-message {
    display: block;
}

/* search cart notice */

.search__cart-notice {
    position: absolute;
    color: var(--primary-color);
    background-color: var(--white-color);
    top: -6px;
    font-size: 1.6rem;
    line-height: 1.6rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    padding: 2px 8px;
    text-align: center;
    /* right: 2px */
}

/* Has cart list */
.search__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #999;
    font-weight: 400;

}

.search__cart-list-has {
    list-style: none;
    padding-left: 0px;

}

.search__cart-list-has-item {
    display: flex;   
}

.search__cart-list-has-item:hover {
    background-color: #f5f5f5;   
}

.search__cart-list-has-img {
    width: 42px;
    height: 42px;
    margin: 12px;

    
}

.search__cart-list-has-info {
    width: 100%;
    
}

.search__cart-list-has-head {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 12px;
}

.search__cart-list-has-name {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    /* margin-bottom: 0px; */
    
}

.search__cart-list-has-wrap {
    display: flex;
    
}

.search__cart-list-has-unit {
    color: var(--primary-color);
    text-decoration: underline;
   
}

.search__cart-list-has-price {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
    
}


.btn--primary--cart {
    float: right;
    margin:12px;
    min-width: 120px;
    
}


.search__main-btn {
    background-color: #fb6445;
    width: 60px;
    padding: 9px;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 2px;
    border: none;
    
}

.search__main-btn:hover {
    background-color: #f5775d;
    cursor: pointer;
    
}

.search__main-btn-icon {
    color: var(--white-color);
    font-size: 1.4rem;
    text-align: center;

}

.search__cart-icon {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    
}



.navbar-horizontal {
    height: 20px;
    display: flex;
    position: relative;
    margin-left: 160px;
    align-items: center;

}

.navbar-horizontal__list {
    list-style: none;
    position: relative;

}

.navbar-horizontal__item {
    margin-left: 10px;
    position: relative;
    display: inline-block;

}

.navbar-horizontal__item-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;

}

.search__main-input:focus ~ .search__main-history {
    display: block;
}

/* Search history */

.search__main-history {
    background-color: var(--white-color);
    width: 90%;
    position: absolute;
    top: 110%;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 0 3px #666;
    display: none;
    z-index: 2;
    overflow: hidden;
}

.search__main-history-header {
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.search__main-history-header:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.search__main-history-title {
    margin: 6px 16px;
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 300;
    flex: 1;
}

.search__main-history-img {
    height: 42px;
    padding: 7px 12px;
}

.search__main-history-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px 0 0;
}

.search__main-history-item {
    height: 38px;
}

.search__main-history-item:hover {
    cursor: pointer;
    /* background-color: #f5f0f0; */
    background-color: #fafafa;
}

.search__main-history-item a {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.3rem;
    font-weight: 300;
    padding-left: 16px;
    line-height: 38px;
    display: block;

}

/* slider */
.navbar__slider-a {
    background: url('/img/slider/slide_bar.png') top center / cover no-repeat;
    

}

.navbar__slider {
    background: url('/img/slider/slide_bar.png') top center / cover no-repeat;

}

.navbar__slider-main {
    background-color:greenyellow;
    height: 300px;
   

}

.navbar__slider-add {
    background-color: blue;
    height: 300px;
    

}

